{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}
    <title>ALL4REST | Login</title>
{% endblock %}

{% block content %}
  <section class="section">
    <div class="wrapper">
      <form action="{% url 'login' %}" method="post" class="form">
        {% csrf_token %}
        <label class="form-label">
          <p class="form-p">Username</p>
          {% render_field form.username placeholder="Username" class+="form-input" %}
        </label>
        <label class="form-label">
          <p class="form-p">Password</p>
          {% render_field form.password placeholder="Password" class+="form-input" %}
        </label>
        <input type="submit" value="Submit" class="submit">
        <a href="{% url 'accounts:manager-create' %}" class="registr-in-login">Click here to SignUp</a>
      </form>
    </div>
  </section>
{% endblock %}
