{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="section">
    <div class="wrapper">
      <ul class="manager-list">
      {% for manager in manager_list %}
      <li class="manager-item">
        <div class="img-container">
          <img src="{% static "img/manager.webp" %}" alt="photo" class = "product-img">
        </div>
        <div class="info-container">
          <p class="manager-info">{{ manager.username }}</p>
          <p class="manager-info">{{ manager.position }}</p>
          <a href="" class="manager-info" style="color: darkolivegreen">More info...</a>
        </div>
      </li>
      {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}