{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}
    <title>ALL4REST | Brands</title>
{% endblock %}

{% block content %}
  <div class="section">
    <div class="wrapper">
      <form action="" class="product-search-form">
        {% csrf_token %}
        {% render_field search_form.name class+="search-input" %}
        <input type="submit" value="Search" class="search-btn">
      </form>
      <ul class="brand-list">
        {% for brand in brand_list %}
          <li class="brand-item">
            <a href="{% url 'product:brand-detail' pk=brand.id %}" class="brand-link">
              <p class="brand-info">{{ brand.name }}</p>
              <p class="brand-info">{{ brand.country }}</p>
            </a>
          </li>
        {% endfor %}
      </ul>
    {% block pagination %}
        {% include "includes/pagination.html" %}
        {% endblock %}
    </div>
  </div>
{% endblock %}
