{% extends "base.html" %}

{% block content %}
  <section class="hero-section" style="margin-top: 20px">
    <div class="hero_box">
      <h1 class="hero_title">The best service for product managment</h1>
    </div>
  </section>
  <section class="section">
    <div class="wrapper">
      <h2 class="section-title">Common Info: </h2>
      <ul class="info-list">
        <li class="info-item">
          <h3>Count of products</h3>
          <span>{{ count_of_products }}</span>
        </li>
        <li class="info-item">
          <h3>Count of brands</h3>
          <span>{{ count_of_brands }}</span>
        </li>
        <li class="info-item">
          <h3>Count of managers</h3>
          <span>{{ count_of_managers }}</span>
        </li>
        <li class="info-item add">
          <a href="{% url 'product:product-create' %}">Add Product</a>
        </li>
        <li class="info-item add">
          <a href="{% url 'product:brand-create' %}">Add Brand</a>
        </li>
      </ul>
    </div>
  </section>
{% endblock %}
